<div class="gallery-thumbnail">
  <%= image_tag("feature-1.jpg", alt: "Feature 1", data: { index: '0' }) %>
  <p>Example 1</p>
</div>
<div class="gallery-thumbnail">
  <%= image_tag("feature-1.jpg", alt: "Feature 1", data: { index: '1' }) %>
  <p>Example 2</p>
</div>
<div class="gallery-thumbnail">
  <%= image_tag("feature-1.jpg", alt: "Feature 1", data: { index: '2' }) %>
  <p>Example 3</p>
</div>
<div class="gallery-thumbnail">
  <%= image_tag("feature-1.jpg", alt: "Feature 1", data: { index: '3' }) %>
  <p>Example 4</p>
</div>