<section id="gallery">
  <h2>Gallery</h2>
  <div class="gallery-thumbnail">
    <%= image_tag(s3_image('landing/gallery-0.jpg'), alt: "Feature 1", data: { index: '0' }) %>
  </div>
  <div class="gallery-thumbnail">
    <%= image_tag(s3_image('landing/gallery-1.jpg'), alt: "Feature 1", data: { index: '1' }) %>
  </div>
  <div class="gallery-thumbnail">
    <%= image_tag(s3_image('landing/gallery-2.jpg'), alt: "Feature 1", data: { index: '2' }) %>
  </div>
  <div class="gallery-thumbnail">
    <%= image_tag(s3_image('landing/gallery-4.jpg'), alt: "Feature 1", data: { index: '4' }) %>
  </div>
</section>