<div id="lightbox">
  <div class="wrapper">
    <img src="#" />
    <i class="close fa fa-times-circle"></i>
    <i class="right fa fa-chevron-right"></i>
    <i class="left fa fa-chevron-left"></i>
  </div>
</div>
