<section id="about">
  <div class="bio">
  <h2>About Me</h2>
    <p>
      I completed my apprenticeship for dress making and design in 1983,
      soon thereafter Sew Unique was created. I have specialized in custom fitting and
      design. If you can dream it I can make it. My reputation for quality workmanship
      has clients travelling from Vancouver, Calgary, Seattle, and beyond.
    </p>
  </div>
  <div class="photo">
    <%= image_tag(s3_image('landing/bonnie.jpg'), alt: 'Bonnie King') %>
  </div>
</section>
