<section id="about">
  <div class="bio">
  <h2>About Me</h2>
    <p>
      Born and raised in Campbell River, I have always enjoyed the creative artistry
      of sewing. Since starting my business over 30 years ago, I have grown from
      completing my apprenticship for dress making and designing, to creating and altering
      custom gowns for thousands of brides and grads. I specialize in custom fitting for both
      women and men; shaping your clothes to best suit your body type.
    </p>
  </div>
  <div class="photo">
    <%= image_tag(s3_image('landing/bonnie.jpg'), alt: 'Bonnie King') %>
  </div>
</section>
