<section id="about">
  <div class="bio">
  <h2>About Me</h2>
    <p>
      My name Is Bonnie King and I have been sewing for years. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great.
      My name Is Bonnie King and I have been sewing for years. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great. Blah blah blah,
      this is why I am great. Blah blah blah, this is why I am great.
    </p>
  </div>
  <div class="photo">
    <%= image_tag(s3_image('landing/feature-1.jpg'), alt: "Bonnie King") %>
  </div>
</section>