<section id="content">
  <h2>What we have to offer</h2>
  <h5>
    Some short little blurb about all the services that Bonnie
    has to offer. Maybe this should be two setences.
  </h5>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-1.jpg'), alt: "Feature 1") %>
      <h4>Hems<h4>
      <p>
        Some quick little sentence about hems. What else can we say here?
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-1.jpg'), alt: "Feature 2") %>
      <h4>Gowns<h4>
      <p>
        Some quick little sentence about hems. What else can we say here?
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-1.jpg'), alt: "Feature 3") %>
      <h4>Dresses<h4>
      <p>
        Some quick little sentence about hems. What else can we say here?
      </p>
    </div>
  </div>
</section>