<section id="contact-bar">
  <span class="contact phone">(250)-555-5555</span>
  <span class="contact email">bksewunique@gmail.com</span>
  <span class="contact hours">TUE - FRI: 11 - 6</span>
</section>