<section id="content">
  <h2>What we have to offer</h2>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-1.jpg'), alt: "Feature 1") %>
      <h4>Hems<h4>
      <p>
        Same day service for jean and pant hems, Euro hems, and hand hems.
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-2.jpg'), alt: "Feature 2") %>
      <h4>Alterations<h4>
      <p>
        Over 30 years experience for custome alterations for women and men.
      </p>
    </div>
  </div>
  <div class="content-area">
    <div class="inner-content">
      <%= image_tag(s3_image('landing/feature-3.jpg'), alt: "Feature 3") %>
      <h4>Dresses<h4>
      <p>
        Custom dress creation from casual to evening, including prom and bridal.
      </p>
    </div>
  </div>
</section>
