<section id="hero">
  <div id="inner-hero">
    <div id="hero-links">
    <ul>
      <li><a id="content-link" href="#">Features</a></li>
      <li><a id="about-link" href="#">About</a></li>
      <li><a id="gallery-link" href="#">Gallery</a></li>
      <li><a id="contact-link" href="#">Contact</a></li>
    </ul>
    </div>
    <div id="hero-content">
      <h3>Sew Unique</h3>
      <h5>by Bonnie</h5>
      <h4>Keep you looking your best since 1981</h4>
      <button id="contact-button" class="button success">Contact Us</button>
    </div>
  </div>
</section>