#about {
  @include outer-container;
  margin-top: 150px;

  .bio {
    @include span-columns(6);

    h2 {
      font-size: 30px;
      margin: 0 0 10px 0;
      font-weight: 200;
      color: $dark;
      padding: 0 20px;

      @media screen and (max-width: $small) {
        text-align: center;
      }
    }

    p {
      font-weight: 200;
      color: $light;
      padding: 0 20px;
      line-height: 25px;
    }

    @media screen and (max-width: $small) {
      @include span-columns(12);
      margin-bottom: 30px;
    }
  }

  .photo {
    @include span-columns(6);
    text-align: center;

    img {
      max-width: 400px;
      margin-top: 10px;
      max-height: 200px;
      border-radius: 10px;
      text-align: center;
    }

    @media screen and (max-width: $small) {
      @include span-columns(12);
    }
  }

  @media screen and (max-width: $small) {
    margin-top: 75px;
  }
}
