#contact-bar {
  padding: 20px 10px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: lighten($green, 10%);

  span {
    display: inline-block;
  }

  .phone {
    margin-right: 50px;
  }

  @media screen and (max-width: $medium) {
    font-size: 18px;

    .phone {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 585px) {
    .phone {
      margin-right: 4px;
    }
  }

  @media screen and (max-width: $small) {
    font-size: 18px;

    .phone {
      display: block;
    }

    .phone {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }
}