#contact {
  @include outer-container;
  margin-top: 150px;

  h2 {
    font-size: 50px;
    margin: 70px 0;
    text-align: center;
    font-weight: 200;
    color: $dark;
  }

  #email-form, #map {
    padding: 0 40px;
  }

  #email-form {
    @include span-columns(6);

    #inner-form {
      border-radius: 5px;
      border: 1px solid #CCC;
      padding: 20px 40px;

      h4 {
        color: dark;
        margin-bottom: 10px;
      }

      input, textarea {
        margin-bottom: 10px;
        border: 1px solid #CCC;
        border-radius: 3px;
        font-size: 15px;
        padding: 8px 12px;
        color: $light;
        width: 100%;
      }

      textarea {
        resize: none;
      }

      i {
        margin-right: 10px;
      }
    }

    @media screen and (max-width: $small) {
      @include span-columns(12);
      margin-bottom: 40px;
    }
  }

  #map {
    @include span-columns(6);

    h4 {
      color: $dark;
      margin-top: 0;

      &.second {
        margin-top: 20px;
      }
    }

    p {
      color: $light;
    }

    iframe {
      width: 100%;
      height: 250px;
      border-radius: 10px;
    }

    ul {
      list-style: none;
      padding-left: 30px;

      li {
        color: $green;

        i {
          width: 10px;
          margin-right: 20px;
          margin-bottom: 15px;
        }
      }
    }

    @media screen and (max-width: $small) {
      @include span-columns(12);
    }
  }

  @media screen and (max-width: $small) {
    margin-top: 75px;
  }
}