#gallery {
  @include outer-container;
  margin-top: 150px;

  h2 {
    font-size: 30px;
    margin: 0 0 30px 0;
    font-weight: 200;
    color: $dark;
    padding: 0 20px;

    @media screen and (max-width: $medium) {
      text-align: center;
    }

    @media screen and (max-width: $small) {
      text-align: center;
    }
  }

  .gallery-thumbnail {
    @include span-columns(3);
    padding: 0 20px;
    text-align: center;

    img {
      max-width: 100%;
      cursor: pointer;
      border-radius: 4px;

      @media screen and (max-width: $medium) {
        max-width: 80%;
      }

      @media screen and (max-width: $small) {
        max-width: 80%;
      }
    }

    p {
      font-size: 14px;
      color: $light;
    }

    @media screen and (max-width: $medium) {
      @include span-columns(6);
      margin-right: 0;
    }

    @media screen and (max-width: $small) {
      @include span-columns(12);
    }
  }

  @media screen and (max-width: $small) {
    margin-top: 75px;
  }
}