// Generic colors
$red:   #E0645C;
$dark:  #333333;
$light: #888888;
$blue:  #2DB6CF;
$green: #46b98a;
$white: #FFFFFF;
$purple: #5A4DA0;

// Screen sizes
$small: 550px;
$medium: 800px;
$large: 1000px;
