<p>
  Hi Bonnie,
</p>

<p>
  You have a new contact message from the website. The message is as follows:
</p>

<p>
  From: <%= @name %>
  Email: <%= @email %>
</p>

<blockquote>
  <%= @message %>
</blockquote>

---

<p>
  Remember, don't respond to this email. If you want to get in touch with them,
  make sure you write a new email to their email address.
</p>

<p>
Have a great day!
</p>