<div class="image-list-item">
  <%= link_to(image.image.url, data: { lightbox: "gallery-#{image.gallery.id}" })  do %>
    <%= image_tag(image.image.url, alt: image.title) %>
  <% end %>
  <p>
    <%= image.title %>
  </p>
</div>
