<% hidden = image.position > 4 ? 'hidden' : ''%>

<div class="image-list-item <%= hidden %>">
  <%= link_to(image.image.url, data: { lightbox: "gallery-#{image.gallery.id}", title: image.title })  do %>
    <%= image_tag(image.image.url, alt: image.title) %>
  <% end %>
  <p>
    <%= image.title %>
  </p>
</div>
